@charset "utf-8";
:root {
  --text-color: #edebe0;
  --background-color: #17413f;
  --accent-color: #148370;
  --outline-padding-mo: 20px;
  --outline-padding-pc: 40px;
  --header-height: 75px;
  --section-title-padding: 50px;
}
#section1 {
  padding: 0 var(--outline-padding-mo);
  background-color: var(--background-color);
}
#section1 .title {
  text-align: center;
  font-size: 40px;
  font-family: "JalnanGothic";
  line-height: 1em;
  color: var(--text-color);
  padding: var(--section-title-padding) 0;
}
#section1 .title:hover .underbar {
  width: 40%;
}
#section1 .title .underbar {
  width: 20%;
  height: 3px;
  transition: 0.2s;
  margin: 15px auto 0 auto;
  background-color: var(--text-color);
}
#section1 .s1_middle_wrap {
  padding: var(--outline-padding-pc);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#section1 .s1_middle_wrap .s1_img_zone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto 30px auto;
}
#section1 .s1_middle_wrap .s1_img_zone .profile {
  width: 150px;
  min-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
#section1 .s1_middle_wrap .s1_img_zone .line {
  content: "";
  display: block;
  width: 3px;
  height: 100px;
  margin: 0 2vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
#section1 .s1_middle_wrap .s1_img_zone .profile img {
  width: 100%;
  height: auto;
}
#section1 .s1_middle_wrap .s1_img_zone .profile_txt {
  display: flex;
  flex-direction: column;
}
#section1 .s1_middle_wrap .s1_img_zone .profile_txt span {
  line-height: 1.8em;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: var(--text-color);
}
#section1 .s1_middle_wrap .s1_text_zone .text {
  display: flex;
  flex-direction: column;
}
#section1 .s1_middle_wrap .s1_text_zone .text span {
  line-height: 2em;
  font-size: 14px;
  color: var(--text-color);
}
#section1 .s1_middle_wrap .s1_text_zone .text .accent {
  color: var(--accent-color);
}
/* 768px 시작 */
@media screen and (min-width: 768px) {
  #section1 {
    padding: 0 50px;
  }
  #section1 .s1_middle_wrap {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  #section1 .s1_middle_wrap .s1_img_zone {
    width: 100%;
    margin: 0 30px 0 0;
    flex-direction: column;
  }
  #section1 .s1_middle_wrap .s1_text_zone {
    width: 100%;
  }
  #section1 .s1_middle_wrap .s1_img_zone .line {
    width: 100px;
    height: 3px;
    margin: 20px 0 20px 0;
  }
}
/* 1024px 시작 */
@media screen and (min-width: 1024px) {
  #section1 .s1_middle_wrap .s1_img_zone .profile_txt span {
    font-size: 16px;
  }
  #section1 .s1_middle_wrap .s1_img_zone .profile {
    width: 200px;
  }
  #section1 .s1_middle_wrap .s1_text_zone .text span {
    font-size: 16px;
  }
}
