@charset "utf-8";
@keyframes shaking {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
#main {
  width: 100%;
  user-select: none;
  padding-top: 200px;
  padding-bottom: var(--outline-padding-mo);
}
#main .main_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main .main_wrap .profile-main,
.profile {
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
}
#main .main_wrap .profile-main img,
.profile img {
  width: 100%;
  height: auto;
}
#main .main_wrap .main_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 50px;
  font-family: "JalnanGothic", "Pretendard-Regular", "Noto Sans KR", sans-serif;
  font-size: 4.5vw;
  line-height: 1.4em;
  color: var(--text-color);
}
#main .main_wrap .main_txt .t1 {
  margin-left: 30px;
}
#main .main_wrap .main_txt .t2 {
  margin-bottom: 40px;
}
#main .main_wrap .about-title {
  text-align: center;
  font-size: 40px;
  font-family: "JalnanGothic";
  line-height: 1em;
  color: var(--text-color);
  padding: var(--section-title-padding) 0;
  user-select: none;
}
#main .main_wrap .about-title .underbar {
  width: 150px;
  height: 3px;
  transition: 0.2s;
  margin: 15px auto 0 auto;
  background-color: var(--text-color);
}
#main .main_wrap .about-title:hover .underbar {
  width: 300px;
}
#main .main_wrap .sub_wrap {
  display: flex;
  flex-direction: column;
}
#main .main_wrap .sub_wrap .t3 {
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8em;
  color: var(--hover-color);
  margin: 0 20px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
#main .main_wrap .sub_wrap .t3 .text-wrap {
  display: flex;
  flex-direction: column;
}
#main .main_wrap .sub_wrap .t3 .profile {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#main .main_wrap .sub_wrap .t3 .name {
  font-size: 22px;
  text-align: center;
  color: var(--text-color);
}
#main .main_wrap .sub_wrap .icons-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: -5px;
  border-bottom: 1px solid var(--text-color);
}
#main .main_wrap .sub_wrap .icons-wrap a {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .main_wrap .sub_wrap .icons-wrap a:hover .txt {
  color: var(--accent-color);
}
#main .main_wrap .sub_wrap .icons-wrap a .txt {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  transition: 0.1s;
}
#main .main_wrap .sub_wrap .icons-wrap .icon {
  width: 26px;
  height: 26px;
  transition: 0.1s;
  background-size: 100% auto;
}
#main .main_wrap .sub_wrap .icons-wrap .github .icon {
  background-image: url("../../public/assets/github.png");
}
#main .main_wrap .sub_wrap .icons-wrap .github:hover .icon {
  background-image: url("../../public/assets/github-hover.png");
}
#main .main_wrap .sub_wrap .icons-wrap .email .icon {
  background-image: url("../../public/assets/email.png");
}
#main .main_wrap .sub_wrap .icons-wrap .email:hover .icon {
  background-image: url("../../public/assets/email-hover.png");
}
#main .main_wrap .sub_wrap .t3 .space-wrap {
  display: none;
}
#main .main_wrap .sub_wrap .t3 .text-wrap span {
  margin-bottom: 8px;
  text-indent: -11.5px;
  padding-left: 10px;
  white-space: normal;
}
#main .main_wrap .sub_wrap .flex-wrap {
  margin: 0 20px;
  color: var(--text-color);
}
#main .main_wrap .sub_wrap .flex-wrap .box {
  border: 1px solid var(--text-color);
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
#main .main_wrap .sub_wrap .flex-wrap .title-wrap {
  display: flex;
  align-items: center;
  margin: 15px;
}
#main .main_wrap .sub_wrap .flex-wrap .title-wrap img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}
#main .main_wrap .sub_wrap .flex-wrap .title-wrap .title {
  font-size: 18px;
  font-weight: 600;
}
#main .main_wrap .sub_wrap .flex-wrap .s-box {
  margin-bottom: 20px;
}
#main .main_wrap .sub_wrap .flex-wrap .s-box .flex {
  display: flex;
  margin-bottom: 20px;
}
#main .main_wrap .sub_wrap .flex-wrap .s-box img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 15px;
}

#main .main_wrap .sub_wrap .flex-wrap .s-flex {
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
}
#main .main_wrap .sub_wrap .flex-wrap .s-flex span {
  color: var(--hover-color);
}
#main .main_wrap .sub_wrap .flex-wrap .s-flex .s-title,
.duration {
  font-size: 16px;
}
#main .main_wrap .sub_wrap .flex-wrap .s-flex .duration {
  margin-bottom: 10px;
}
#main .main_wrap .sub_wrap .flex-wrap .line-box {
  display: flex;
  padding-right: 20px;
}
#main .main_wrap .sub_wrap .flex-wrap .line {
  width: 5px;
  height: 160px;
  margin: 0 20px 15px 30px;
  background-color: var(--accent-color);
}
#main .main_wrap .sub_wrap .flex-wrap .line2 {
  width: 5px;
  height: 440px;
  margin: 0 20px 15px 30px;
  background-color: var(--accent-color);
}
#main .main_wrap .sub_wrap .flex-wrap .ml {
  margin-left: 15px;
}
#main .main_wrap .sub_wrap .flex-wrap .f {
  margin-top: 5px;
}
#main .main_wrap .main_txt .hand {
  display: inline-block;
  font-size: 32px;
  transform-origin: right bottom;
  animation: shaking ease-in-out 0.6s alternate infinite;
}
#main .main_wrap .main_txt .accent {
  color: var(--accent-color);
}
/* 768px 시작 */
@media screen and (min-width: 768px) {
  #main {
    padding-top: 150px;
    padding-bottom: var(--outline-padding-pc);
  }
  #main .main_wrap .profile {
    width: 230px;
  }
  #main .main_wrap .main_txt {
    font-size: 30px;
  }
  #main .main_wrap .main_txt .t3 {
    font-size: 18px;
    line-height: 1.5em;
  }
  #main .main_wrap .sub_wrap {
    padding: 0 var(--outline-padding-mo);
  }
}
/* 1024px 시작 */
@media screen and (min-width: 1024px) {
  #main {
    padding-top: 200px;
  }
  #main .main_wrap .main_txt {
    font-size: 40px;
  }
  #main .main_wrap .main_txt .t1 {
    margin-left: 60px;
  }
  #main .main_wrap .main_txt .hand {
    font-size: 50px;
  }
  #main .main_wrap .sub_wrap .t3 {
    width: 50%;
    margin: 0 40px 40px 0;
  }
  #main .main_wrap .sub_wrap .t3 .profile {
    width: 170px;
  }
  #main .main_wrap .sub_wrap .t3 .text-wrap {
    padding: 10px 25px;
    border-bottom: 1px solid var(--text-color);
  }
  #main .main_wrap .sub_wrap .t3 .text-wrap span {
    line-height: 2.5em;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 265px;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: radial-gradient(
      circle at left top,
      #fff757,
      #696408,
      #444105,
      transparent 70%
    );
  }
  #main .main_wrap .sub_wrap .t3 .mars {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(
      circle at left top,
      #d24b30,
      #d24b30,
      #d24b30,
      transparent 85%
    );
  }
  #main .main_wrap .sub_wrap .t3 .mars::after {
    content: "";
    position: absolute;
    top: -55px;
    left: -65px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 25px solid rgba(0, 0, 0, 0.2);
  }
  #main .main_wrap .sub_wrap .t3 .mars .crater {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px 5px 0 rgba(0, 0, 0, 0.25);
  }
  #main .main_wrap .sub_wrap .t3 .mars .crater1 {
    top: 40px;
    left: 40px;
    width: 30px;
    height: 30px;
  }
  #main .main_wrap .sub_wrap .t3 .mars .crater2 {
    top: 100px;
    left: 75px;
    width: 20px;
    height: 20px;
  }
  #main .main_wrap .sub_wrap .t3 .mars .crater3 {
    top: 40px;
    left: 110px;
    width: 15px;
    height: 15px;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .earth {
    position: absolute;
    top: 100px;
    left: 190px;
    width: 50px;
    height: 50px;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .moon {
    position: absolute;
    top: 85px;
    left: 230px;
    width: 35px;
    height: 35px;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .earth img {
    width: 100%;
    height: auto;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .moon img {
    width: 100%;
    height: auto;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship {
    position: absolute;
    top: 90px;
    left: -70px;
    z-index: 3;
    animation: starshipmove 10s linear infinite;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100px;
    border-radius: 50% 50% 0 0;
    animation: bim 10s linear infinite;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship .hat {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 25px;
    border-radius: 50% 50% 3px 3px;
    background-color: #848484;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship .bottom {
    position: absolute;
    top: 15px;
    left: -9.5px;
    width: 60px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.2);
    background-color: #00c020;
    z-index: 1;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship .light {
    position: absolute;
    top: 25px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation: starshiplight 1s ease-in-out infinite alternate;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship .light1 {
    left: -2px;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship .light2 {
    top: 27px;
    left: 13.5px;
  }
  #main .main_wrap .sub_wrap .t3 .space-wrap .starship .light3 {
    left: 30px;
  }
  #main .main_wrap .sub_wrap {
    width: 100%;
    padding: 0 38px;
    flex-direction: row;
  }
  #main .main_wrap .sub_wrap .flex-wrap {
    width: 50%;
    margin: 0;
  }
  #main .main_wrap .sub_wrap .flex-wrap .box {
    margin-bottom: 40px;
  }
}
@keyframes starshiplight {
  from {
    box-shadow: 0;
    background-color: rgba(255, 255, 0, 0.766);
  }
  to {
    box-shadow: 0 0 8px yellow;
    background-color: yellow;
  }
}
@keyframes starshipmove {
  0% {
    transform: translate(0) scale(2) rotate(-15deg);
  }
  30% {
    transform: translateX(280px) scale(0.3);
  }
  70% {
    transform: translateX(280px) scale(0.3);
  }
  80% {
    transform: translateX(600px) scale(2) rotate(15deg);
  }
  100% {
    transform: translateX(600px) scale(2);
  }
}
@keyframes bim {
  0% {
    background: initial;
  }
  65% {
    background: linear-gradient(to bottom, yellow, rgba(255, 255, 0, 0.399));
  }
  75% {
    background: initial;
  }
  100% {
    background: initial;
  }
}
