@charset "utf-8";
@keyframes arrow_down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}
@keyframes recipes_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 1%;
  }
}
@keyframes recipes_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 1.8%;
  }
}
@keyframes recipes_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 97.2%;
  }
}
@keyframes petdoc_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 0.8%;
  }
}
@keyframes petdoc_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 18.2%;
  }
}
@keyframes petdoc_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 81%;
  }
}
@keyframes gallery_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 0.9%;
  }
}
@keyframes gallery_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 73.4%;
  }
}
@keyframes gallery_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 25.7%;
  }
}
@keyframes windows_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 36.3%;
  }
}
@keyframes windows_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 33.8%;
  }
}
@keyframes windows_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 29.9%;
  }
}
@keyframes bbq_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 64.3%;
  }
}
@keyframes bbq_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 31.6%;
  }
}
@keyframes bbq_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 4.1%;
  }
}
@keyframes movie_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 1.6%;
  }
}
@keyframes movie_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 13.2%;
  }
}
@keyframes movie_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 85.2%;
  }
}
@keyframes ulsan_tour_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 55.8%;
  }
}
@keyframes ulsan_tour_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 40.2%;
  }
}
@keyframes ulsan_tour_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 4%;
  }
}
@keyframes volvo_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 72.1%;
  }
}
@keyframes volvo_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 27.2%;
  }
}
@keyframes volvo_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 0.7%;
  }
}
@keyframes bookstore_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 66.9%;
  }
}
@keyframes bookstore_css_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 25.8%;
  }
}
@keyframes bookstore_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 7.3%;
  }
}
@keyframes shop_html_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 0.5%;
  }
}
@keyframes shop_scss_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 25.9%;
  }
}
@keyframes shop_js_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 9.1%;
  }
}
@keyframes shop_ts_percent {
  0% {
    width: 0%;
  }
  100% {
    width: 64.5%;
  }
}

.components_wrap {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
.components_wrap .main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.components_wrap .main .main_img {
  position: relative;
  width: calc(100vw - 8px);
  height: 100vh;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.petdoc .main .main_img {
  background-image: url(../../public/assets/petdoc-frame.webp);
}
.recipes .main .main_img {
  background-image: url(../../public/assets/recipe-frame.webp);
}
.gallery .main .main_img {
  background-image: url(../../public/assets/gallery-frame.webp);
}
.windows .main .main_img {
  background-image: url(../../public/assets/window-frame.webp);
}
.bbq .main .main_img {
  background-image: url(../../public/assets/bbq-frame.webp);
}
.movie .main .main_img {
  background-image: url(../../public/assets/movie-frame.webp);
}
.ulsan_tour .main .main_img {
  background-image: url(../../public/assets/ulsan-frame.webp);
}
.volvo .main .main_img {
  background-image: url(../../public/assets/volvo-frame.webp);
}
.bookstore .main .main_img {
  background-image: url(../../public/assets/bookstore-frame.webp);
}
.shop .main .main_img {
  background-image: url(../../public/assets/shop-frame.webp);
}
.components_wrap .main .main_img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--background-color));
}
.components_wrap .main .main_txt_wrap_center {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.components_wrap .main .main_txt_wrap {
  position: absolute;
  left: 20px;
  bottom: 150px;
  width: calc(100% - 20px);
}
.components_wrap .main .main_txt_wrap .main_txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.8em;
  font-family: "JalnanGothic";
}
.components_wrap .main .main_txt_wrap .main_txt::after {
  content: "";
  width: calc(100% - 20px);
  height: 0.5px;
  margin: 20px 0;
  background: linear-gradient(
    90deg,
    var(--text-color),
    var(--background-color)
  );
}
.components_wrap .main .main_txt_wrap .main_txt .title {
  font-size: 35px;
  line-height: 2em;
  font-weight: 400;
}
.components_wrap .main .main_txt_wrap .main_txt .t1 {
  font-size: 14px;
}
.components_wrap .main .main_txt_wrap .main_txt .t2 {
  font-size: 12px;
  margin-top: 30px;
}
.components_wrap .main .main_txt_wrap .main_txt .t3 {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.components_wrap .main .main_txt_wrap .main_txt .t3 .open {
  font-size: 18px;
  margin-bottom: 3px;
}
.components_wrap .main .main_txt_wrap .main_txt .t3 a {
  color: var(--text-color);
}
.components_wrap .main .main_txt_wrap .main_txt .t3:hover a {
  text-decoration: underline;
}
.components_wrap .main .main_txt_wrap .eye {
  position: absolute;
  top: 250px;
  left: 0;
  width: 140px;
  height: 40px;
  display: block;
  cursor: pointer;
}
.components_wrap .main .main_txt_wrap .eye .eye_in1,
.components_wrap .main .main_txt_wrap .eye .eye_in2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  transition: 0.3s;
  background-color: var(--accent-color);
  transform-origin: 50% 50% -10px;
}
.components_wrap .main .main_txt_wrap .eye .eye_in2 {
  transform: rotateX(90deg) translateZ(10px);
}
.components_wrap .main .main_txt_wrap .eye:hover .eye_in2 {
  transform: rotateX(0deg) translateZ(10px);
}
.components_wrap .main .main_txt_wrap .eye:hover .eye_in1 {
  transform: rotateX(-90deg) translateZ(10px);
}
.components_wrap .main .main_txt_wrap .eye .eye_img {
  margin-top: 4px;
  margin-right: 8px;
}
.components_wrap .main .main_txt_wrap .eye .eye_in2 .eye_img {
  margin: 0;
}
.components_wrap .main .main_txt_wrap .eye .eye_img .eye_icon {
  font-size: 23px;
  color: var(--text-color);
}
.material-symbols-outlined.eye_icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.components_wrap .main .main_txt_wrap .eye span {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}
.components_wrap .main .main_txt_wrap .arrow_down {
  position: absolute;
  bottom: -115px;
  left: calc(50% - 14px);
  border-radius: 50%;
  background-color: var(--text-color);
  padding: 2px 1px 1px 1px;
  color: #00000d;
  cursor: pointer;
  font-size: 28px;
  animation: arrow_down 0.5s infinite alternate ease-in;
}
.material-symbols-outlined.arrow_down {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}
.components_wrap section {
  padding: 30px var(--outline-padding-mo);
}
.components_wrap .explain {
  display: flex;
  flex-direction: column;
}
.components_wrap .ex_title {
  font-family: "JalnanGothic";
  font-size: 25px;
  font-weight: 400;
  line-height: 2em;
}
.components_wrap .ex_title span {
  font-size: 12px;
}
.components_wrap .explain span,
.components_wrap .explain div {
  font-size: 17px;
  line-height: 1.6em;
  margin: 10px 0;
  color: var(--hover-color);
}
.components_wrap .explain .em {
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--accent-color);
}
.components_wrap .explain .cem {
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--accent-color);
}
.components_wrap .explain .ex_h4 {
  font-size: 22px;
  margin: 40px 0 10px 0;
}
.components_wrap section .img_wrap {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.components_wrap .img_wrap img {
  width: 100%;
  height: auto;
  border: 1px solid var(--text-color);
  transition: 0.3s;
}

/* 추가 설명 토글 부분 */
.components_wrap .explain .span_wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-left: -10px;
}
.components_wrap .explain .span_wrap:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.components_wrap .explain .span_wrap .arrow {
  font-size: 30px;
  transition: 0.1s;
  margin: 0;
}
.components_wrap .explain .span_wrap .arrow.rotate {
  transform: rotate(90deg);
}
.components_wrap .img_wrap .ani_wrap {
  max-width: 800px;
}
.components_wrap .img_wrap.hide .ani_wrap {
  display: none;
}
.components_wrap .img_wrap.show .ani_wrap {
  display: block;
}
.components_wrap .img_wrap .ani_wrap .s_text {
  font-size: 14px;
  line-height: 1.6em;
  text-indent: -10px;
  padding-left: 10px;
  white-space: normal;
}
.components_wrap .img_wrap .ani_wrap .s_text .cem {
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #424242;
}
.components_wrap .img_wrap .ani_wrap .mb {
  margin-bottom: 40px;
}
.components_wrap .img_wrap .ani_wrap .window_img {
  margin-bottom: 20px;
}
.components_wrap .img_wrap img {
  width: 100%;
  height: auto;
}
/* 추가 설명 토글 부분 끝*/
/* petdoc */
.petdoc .section_petdoc_explain1 .img_wrap,
.petdoc .section_petdoc_explain2 .img_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.components_wrap .img_wrap .ani_wrap h3 {
  line-height: 1em;
  margin-top: 35px;
}
.petdoc .section_petdoc_explain1 .img_wrap .w,
.petdoc .section_petdoc_explain2 .img_wrap .w {
  width: calc(33.33% - 15px);
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.petdoc .section_petdoc_explain1 .img_wrap img,
.petdoc .section_petdoc_explain2 .img_wrap img {
  border: none;
}
.petdoc .section_petdoc_explain1 .img_wrap .w span,
.petdoc .section_petdoc_explain2 .img_wrap .w span {
  margin-top: 5px;
}
/* petdoc 끝 */

/* 사용 언어 퍼센트 바 */
.components_wrap .language_wrap {
  padding: 10px 20px;
  border: 1px solid var(--text-color);
}
.components_wrap .language {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.components_wrap .txt_wrap {
  width: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.components_wrap .icon {
  width: 30px;
  height: 30px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 2px;
}
.components_wrap .html_icon {
  background-image: url(../../public/assets/Html5.webp);
}
.components_wrap .css_icon {
  background-image: url(../../public/assets/Css3.webp);
}
.components_wrap .scss_icon {
  background-image: url(../../public/assets/Scss.webp);
}
.components_wrap .css_icon {
  background-image: url(../../public/assets/Css3.webp);
}
.components_wrap .js_icon {
  background-image: url(../../public/assets/JavaScript.webp);
}
.components_wrap .ts_icon {
  background-image: url(../../public/assets/TypeScript.webp);
}
.components_wrap .html_percent_wrap,
.components_wrap .css_percent_wrap,
.components_wrap .js_percent_wrap,
.components_wrap .ts_percent_wrap {
  transform: translateY(2px);
  width: 100%;
}
.components_wrap .bar {
  height: 18px;
  margin-bottom: 10px;
  background-color: #edebe0;
}
/* 사용 언어 퍼센트 바 끝*/
.components_wrap .to_project {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.components_wrap .to_project:hover .text {
  text-decoration: underline;
}
.components_wrap .to_project a {
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.components_wrap .to_project .text {
  margin-right: 3px;
}
.components_wrap .to_project .arrow--right {
  margin-right: -3px;
}
/* 767px 시작 */
@media screen and (min-width: 767px) {
  .components_wrap .main .main_txt_wrap {
    position: absolute;
    left: 60px;
    width: calc(100% - 120px);
  }
  .components_wrap .main .main_txt_wrap .main_txt .title {
    font-size: 40px;
  }
  .components_wrap section {
    padding: 40px 60px;
  }
  .components_wrap .ex_title {
    font-size: 28px;
  }
  .components_wrap .explain span {
    font-size: 18px;
  }
  .components_wrap .img_wrap span {
    font-size: 14px;
    margin-top: 5px;
  }
  .components_wrap .explain .em {
    font-size: 16px;
  }
}
/* 1024px 시작 */
@media screen and (min-width: 1024px) {
  /* 공통 */
  .components_wrap .main .main_txt_wrap .eye {
    top: 270px;
    width: 160px;
    height: 45px;
  }
  .components_wrap .main .main_txt_wrap .eye span {
    font-size: 16px;
  }
  .components_wrap .main .main_txt_wrap {
    position: absolute;
    left: 0;
    bottom: 180px;
    width: 100%;
  }
  .components_wrap .main .main_txt_wrap .main_txt .title {
    font-size: 50px;
  }
  .components_wrap .main .main_txt_wrap .main_txt .t1 {
    font-size: 17px;
  }
  .components_wrap .main .main_txt_wrap .main_txt .t2,
  .components_wrap .main .main_txt_wrap .main_txt .t3 {
    font-size: 14px;
    line-height: 1.8em;
  }
  .components_wrap section {
    max-width: 1120px;
    margin: 0 auto;
  }
  .components_wrap .ex_title {
    font-size: 32px;
  }
  /* 공통 끝*/
  .components_wrap .img_wrap .ani_wrap .mb {
    margin-bottom: 60px;
  }
  .components_wrap .img_wrap .ani_wrap .s_text {
    font-size: 16px;
    line-height: 1.4em;
  }
  /* petdoc */
  .petdoc .section_petdoc_explain1 .img_wrap,
  .petdoc .section_petdoc_explain2 .img_wrap {
    max-width: 800px;
    margin: 0 auto;
  }
  /* petdoc 끝*/

  /* 사용 언어 퍼센트 바 */
  .components_wrap .language_wrap {
    padding: 20px;
  }
  .components_wrap .language {
    padding: 10px 0;
  }
  /* 사용 언어 퍼센트 바 끝*/
}
