@charset "utf-8";

#section3 {
  padding: var(--outline-padding-mo);
}
#section3 > .title {
  text-align: center;
  font-size: 40px;
  font-family: "JalnanGothic";
  line-height: 1em;
  color: var(--text-color);
  padding: var(--section-padding-top);
  user-select: none;
}
#section3 .title .underbar {
  width: 150px;
  height: 3px;
  margin: 15px auto 0 auto;
  background-color: var(--text-color);
}
#section3 .projects_wrap {
  width: 100%;
}
#section3 .projects_wrap .pj {
  display: flex;
  flex-wrap: wrap;
}
#section3 .projects_wrap .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#section3 .projects_wrap .buttons button {
  position: relative;
  width: 100px;
  height: 35px;
  margin: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
#section3 .projects_wrap .buttons .clicked {
  background-color: var(--accent-color);
}
#section3 .projects_wrap .buttons button .btn_wrap_first {
  transition: 0.3s;
}
#section3 .projects_wrap .buttons button .btn_wrap_second {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(30px) translate(-50%, -50%);
  transition: 0.3s;
}
#section3 .projects_wrap .buttons button:hover .btn_wrap_first {
  transform: translateY(-30px);
}
#section3 .projects_wrap .buttons button:hover .btn_wrap_second {
  transform: translateY(0) translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.4);
}
#section3 .projects_wrap .project {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 25px 0;
  border-radius: 5px;
}
#section3 .projects_wrap .project .page_img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  cursor: pointer;
  overflow: hidden;
}
#section3 .projects_wrap .project .page_img img {
  width: 100%;
  height: auto;
  transition: 0.2s;
  object-fit: cover;
  height: 300px;
}
#section3 .projects_wrap .project .page_img .shop_wrap {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fc65db;
}
#section3 .projects_wrap .project .page_img .shop_wrap .shop {
  width: 200px;
  height: auto;
}
#section3 .projects_wrap .project .page_img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.2);
}
#section3 .projects_wrap .project .page_img:hover img {
  transform: scale(1.05);
  filter: blur(5px);
}
#section3 .projects_wrap .project .page_img:hover::after {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.6);
}
#section3 .projects_wrap .project .page_img .txt {
  position: absolute;
  top: 25px;
  left: 20px;
  font-family: "JalnanGothic";
  font-size: 25px;
  color: var(--text-color);
  z-index: 1;
}
#section3 .projects_wrap .project .page_img .explain {
  position: absolute;
  top: 60px;
  left: 15px;
  right: 15px;
  opacity: 0;
  transform: translateY(30px);
  font-size: 16px;
  line-height: 1.8em;
  color: var(--text-color);
  transition: 0.2s;
  z-index: 1;
}
#section3 .projects_wrap .project .page_img:hover .explain {
  opacity: 1;
  transform: translateY(0);
}
/* 600px 시작 */
@media screen and (min-width: 600px) {
  #section3 .projects_wrap .pj {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #section3 .projects_wrap .project {
    width: calc(50% - 15px);
    margin: 15px 0;
  }
}
/* 767px 시작 */
@media screen and (min-width: 768px) {
  #section3 .projects_wrap .project {
    width: calc(50% - 40px);
    margin: 20px;
  }
  #section3 .projects_wrap .project .page_text .explain .title {
    font-size: 28px;
  }
}
/* 1024px 시작 */
@media screen and (min-width: 1024px) {
  #section3 {
    padding: var(--outline-padding-pc);
  }
  #section3 .projects_wrap .pj {
    justify-content: flex-start;
  }
  #section3 .projects_wrap .project {
    width: calc(33.33% - 20px);
    margin: 20px 10px;
  }
  #section3 .projects_wrap .project .page_img::after {
    font-size: 18px;
  }
  #section3 .projects_wrap .buttons button {
    font-size: 16px;
  }
  #section3 .projects_wrap .project .page_img .shop_wrap {
    height: 100%;
  }
}
/* 1440px 시작 */
@media screen and (min-width: 1440px) {
  #section3 .projects_wrap .pj {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
  }
  #section3 .projects_wrap .pj.toy_pj {
    justify-content: flex-start;
  }
  #section3 .projects_wrap .pj.toy_pj .project {
    margin-right: 25px;
  }
  #section3 .projects_wrap .project {
    width: calc(25% - 20px);
    margin: 25px 0;
  }
  #section3 .projects_wrap .project .page_img img {
    height: 330px;
  }
}
