@charset "utf-8";
.skills-wrap {
  perspective: 1200px;
  transform-style: preserve-3d;
}

.skill_card {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 200px;
  margin: 20px 0;
  border-radius: 5px;
  padding: var(--outline-padding-mo);
  border: 1px solid var(--text-color);
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
.skill_card .icon {
  position: relative;
  width: 40%;
}
.skill_card .txt {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skill_card .txt .line {
  position: absolute;
  top: 50%;
  left: -10%;
  content: "";
  display: block;
  width: 3px;
  height: 100px;
  border-radius: 10px;
  transform: translate(0, -50%);
  background-color: #edebe036;
}
.skill_card .txt .card_title {
  font-size: 16px;
  font-family: "JalnanGothic";
  margin-bottom: 10px;
  color: var(--text-color);
}
.skill_card .txt .card_explain {
  font-size: 14px;
  line-height: 1.4em;
  color: var(--hover-color);
}
.skill_card:hover .cube::after {
  width: 70px;
  height: 10px;
  opacity: 1;
}
.skill_card:hover .cube_face_front {
  transform: rotateY(0deg) translateZ(30px);
}
.skill_card:hover .cube_face_right {
  transform: rotateY(90deg) translateZ(30px);
}
.skill_card:hover .cube_face_back {
  transform: rotateY(180deg) translateZ(30px);
}
.skill_card:hover .cube_face_left {
  transform: rotateY(-90deg) translateZ(30px);
}
.skill_card:hover .cube_face_top {
  transform: rotateX(90deg) translateZ(30px);
}
.skill_card:hover .cube_face_bottom {
  transform: rotateX(-90deg) translateZ(30px);
}

@media screen and (min-width: 600px) {
  .skill_card {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1440px) {
  .skill_card {
    width: calc(33.33% - 20px);
  }
}
