@charset "utf-8";
.front_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .front_skills{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}