@charset "utf-8";
@keyframes shaking {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
:root {
  --text-color: #edebe0;
  --background-color: #17413f;
  --accent-color: #148370;
  --outline-padding-mo: 20px;
  --outline-padding-pc: 40px;
}
#main {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  user-select: none;
  font-family: "JalnanGothic";
}
#main .main_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
#main .main_wrap .main_txt_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#main .main_wrap .main_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/assets/main_mo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#main .main_wrap .main_img::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#main .main_wrap .main_txt {
  position: absolute;
  top: 41.7%;
  left: 0;
  transform: translate(0, -50%);
  padding: 0 var(--outline-padding-mo);
}
#main .main_wrap .main_txt .t2 {
  display: inline-block;
  margin-top: 10px;
}
#main .main_wrap .main_txt .t4 {
  margin-top: 50px;
}
#main .main_wrap .main_txt span {
  font-size: 38px;
  line-height: 1.4em;
  color: var(--text-color);
}
#main .main_wrap .main_txt .hand {
  display: inline-block;
  font-size: 45px;
  transform-origin: right bottom;
  animation: shaking ease-in-out 0.6s alternate infinite;
}
#main .main_wrap .main_txt .accent {
  color: var(--accent-color);
}
#main .main_wrap .main_txt .typing {
  margin-left: 15px;
  font-size: 25px;
}
/* 768px 시작 */
@media screen and (min-width: 768px) {
  #main {
    height: 120vh;
  }
  #main .main_wrap .main_img {
    background-image: url(../../../public/assets/main_pc.png);
    background-attachment: fixed;
  }
  #main .main_wrap .main_txt {
    padding: 0 var(--outline-padding-pc);
  }
  #main .main_wrap .main_txt .t2 {
    margin-top: 15px;
  }
  #main .main_wrap .main_txt span {
    font-size: 40px;
  }
  #main .main_wrap .main_txt .hand {
    font-size: 55px;
  }
  #main .main_wrap .main_txt .typing {
    font-size: 35px;
  }
}
/* 1024px 시작 */
@media screen and (min-width: 1024px) {
  #main .main_wrap .main_txt span {
    font-size: 50px;
  }
  #main .main_wrap .main_txt .typing {
    font-size: 40px;
  }
}
@media screen and (min-width: 1355px) {
  #main .main_wrap .main_txt {
    padding: 0;
  }
}
