@charset "utf-8";
@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
body {
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 1em;
  color: #121212;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
input {
  vertical-align: top;
  font-family: "Noto Sans KR", sans-serif;
}
button {
  border: 0;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
}
